/**
 * Reset Mixing
 * ================================================== */
/**
 * Disable Animation
 */
/**
 * Disable animation depends on Browser or Operation System configuration
 */
/**
 * Accessability. Black and White Mode
 */
/**
 * Accessability. Inverse Mode
 */
/**
 * Meter reset
 */
/**
 * Modern CSS Reset Tweaks
 * ================================================== */
html {
  -webkit-text-size-adjust: 100%;
}
html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-size-adjust: 100%;
  position: relative;
  width: 100%;
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

/* Box sizing normalization */
*,
::after,
::before {
  box-sizing: border-box;
}

/* Elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/**
 * CSS Reset Tweaks
 *
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0-modified | 20110126
 * License: none (public domain)
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/**
 * Input Reset
 */
input:required,
input {
  box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:focus {
  outline: none;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 */
[hidden] {
  display: none;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: auto;
}

/* Make pictures easier to work with */
picture {
  display: inline-block;
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  border: 0;
  background: transparent;
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

[disabled] {
  pointer-events: none;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 */
input[type=checkbox],
input[type=radio] {
  padding: 0;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  border: 0;
  background: transparent;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

/**
 * Based on normalize.css v8.0.1
 * github.com/necolas/normalize.css
 */
hr {
  box-sizing: content-box;
  overflow: visible;
  background: #000;
  border: 0;
  height: 1px;
  line-height: 0;
  margin: 0;
  padding: 0;
  page-break-after: always;
  width: 100%;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 */
pre {
  font-family: monospace, monospace;
  font-size: 100%;
}

/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

/**
  * Add the correct font size in all browsers.
  */
small {
  font-size: 75%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -5px;
}

sup {
  top: -5px;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
  outline: 0;
}

legend {
  color: inherit;
  white-space: normal;
  display: block;
  border: 0;
  max-width: 100%;
  width: 100%;
}

fieldset {
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: block;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Misc
 * ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

html {
  scroll-behavior: smooth;
}

*,
*:hover,
*:after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

body {
  background: #000;
  color: #fff;
  font-family: Spartan;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.05em;
  line-height: 155%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  display: inline-block;
  font-weight: 656;
  font-size: 34px;
  border-bottom: 1px solid #fff;
  line-height: 26px;
  margin-bottom: 60px;
}

section {
  display: block;
}

@font-face {
  font-family: Spartan;
  font-display: swap;
  src: url("../fonts/Spartan-Black.woff2") format("woff2"), url("../fonts/Spartan-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Spartan;
  font-display: swap;
  src: url("../fonts/Spartan-Black.woff2") format("woff2"), url("../fonts/Spartan-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Spartan;
  font-display: swap;
  src: url("../fonts/Spartan-Bold.woff2") format("woff2"), url("../fonts/Spartan-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Spartan;
  font-display: swap;
  src: url("../fonts/Spartan-Bold.woff2") format("woff2"), url("../fonts/Spartan-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Spartan;
  font-display: swap;
  src: url("../fonts/Spartan-ExtraBold.woff2") format("woff2"), url("../fonts/Spartan-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Spartan;
  font-display: swap;
  src: url("../fonts/Spartan-ExtraBold.woff2") format("woff2"), url("../fonts/Spartan-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Spartan;
  font-display: swap;
  src: url("../fonts/Spartan-ExtraLight.woff2") format("woff2"), url("../fonts/Spartan-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Spartan;
  font-display: swap;
  src: url("../fonts/Spartan-ExtraLight.woff2") format("woff2"), url("../fonts/Spartan-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Spartan;
  font-display: swap;
  src: url("../fonts/Spartan-Light.woff2") format("woff2"), url("../fonts/Spartan-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Spartan;
  font-display: swap;
  src: url("../fonts/Spartan-Light.woff2") format("woff2"), url("../fonts/Spartan-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Spartan;
  font-display: swap;
  src: url("../fonts/Spartan-Medium.woff2") format("woff2"), url("../fonts/Spartan-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Spartan;
  font-display: swap;
  src: url("../fonts/Spartan-Medium.woff2") format("woff2"), url("../fonts/Spartan-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Spartan;
  font-display: swap;
  src: url("../fonts/Spartan-Regular.woff2") format("woff2"), url("../fonts/Spartan-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Spartan;
  font-display: swap;
  src: url("../fonts/Spartan-Regular.woff2") format("woff2"), url("../fonts/Spartan-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Spartan;
  font-display: swap;
  src: url("../fonts/Spartan-SemiBold.woff2") format("woff2"), url("../fonts/Spartan-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Spartan;
  font-display: swap;
  src: url("../fonts/Spartan-SemiBold.woff2") format("woff2"), url("../fonts/Spartan-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Spartan;
  font-display: swap;
  src: url("../fonts/Spartan-Thin.woff2") format("woff2"), url("../fonts/Spartan-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Spartan;
  font-display: swap;
  src: url("../fonts/Spartan-Thin.woff2") format("woff2"), url("../fonts/Spartan-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
.header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/background__00.png");
  box-shadow: inset 0px 4px 80px 71px rgba(0, 0, 0, 0.86);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header__inner {
  padding-top: 60px;
  height: 100vh;
}

.header-icon {
  width: 48px;
  height: 48px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 133px;
}
.nav__item {
  display: block;
  transition: color 0.3s;
}
.nav__item:hover {
  color: #db8b51;
}
.nav__item + .nav__item {
  margin-left: 36px;
}

.header-content-wrapper {
  display: inline-block;
  width: 50%;
}

.header-content {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-content__text {
  width: 100%;
  font-weight: 200;
  font-size: 20px;
  line-height: 155%;
  text-align: right;
  letter-spacing: 0.05em;
  margin-bottom: 55px;
}

.header-content__link-to-steam {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  gap: 10px;
}
.header-content__link-to-steam-text {
  font-weight: 400;
}

.logo {
  margin-bottom: 30px;
  width: 560px;
  height: 117px;
}

.logo-sub {
  margin-bottom: 70px;
  width: 338px;
  height: 34px;
}

.about {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/background__01.png");
  box-shadow: inset 0px 4px 80px 71px rgba(0, 0, 0, 0.86);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 60px;
}

.about__inner {
  padding-top: 60px;
  height: 100vh;
}

.about__main-text {
  font-weight: 656;
  font-size: 24px;
  line-height: 155%;
  text-align: justify;
  margin-bottom: 60px;
}

.about__sub-text-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about__sub-text {
  width: 40%;
  font-weight: 400;
  font-size: 24px;
  line-height: 155%;
  text-align: justify;
}

.media-slider__item {
  width: 367px;
  height: 217px;
  border: 1px solid #db8b51;
  margin: 0 5px;
}

.media {
  margin-bottom: 60px;
}

.media-slider {
  margin-bottom: 60px;
}

.media__video {
  width: 100%;
  height: 674px;
  border: 1px solid #db8b51;
}

.features {
  text-align: justify;
  letter-spacing: 0.05em;
  margin-bottom: 60px;
}

.features__list {
  list-style-type: disc;
  padding: 25px;
}

.footer__text {
  font-size: 18px;
  text-align: center;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.footer__logo-wrapper {
  display: flex;
  gap: 214px;
}

.social-navbar {
  display: flex;
  gap: 40px;
}
.social-navbar a {
  display: block;
}

.social-icon {
  width: 72px;
  height: 72px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.media-slider {
  position: relative;
}
.media-slider .slick-arrow {
  position: absolute;
  z-index: 10;
  top: calc(50% - 37px);
  width: 37px;
  height: 74px;
}
.media-slider .slick-prev {
  right: calc(100% + 37px);
}
.media-slider .slick-next {
  left: calc(100% + 38px);
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .container {
    width: 900px;
  }
  .media-slider__item {
    height: 200px;
  }
  .media__video {
    height: 474px;
  }
  .media-slider {
    width: 90%;
    margin: 0 auto 60px auto;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .footer__logo-1 {
    width: 200px;
  }
  .footer__logo-2,
  .footer__logo-3 {
    width: 200px;
    margin-bottom: 50px;
  }
  .about__main-text,
  .about__sub-text {
    font-size: 20px;
  }
  .container {
    width: 800px;
  }
  .media-slider__item {
    height: 150px;
  }
  .header-content-wrapper {
    width: 100%;
  }
  /* */
}
@media only screen and (max-width: 900px) {
  .container {
    width: 700px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 790px) {
  .media-slider__item {
    height: 250px;
  }
  .nav,
  .header-content__link-to-steam {
    justify-content: center;
  }
  .header-content__text {
    text-align: center;
  }
  .container {
    width: 100%;
    padding: 0 5px;
  }
  .media-slider {
    width: 100%;
  }
  .slick-list {
    width: 100%;
    overflow: hidden;
  }
  .media__video {
    height: 374px;
  }
  .about__main-text, .about__sub-text, .features {
    text-align: start;
  }
  .about__sub-text-wrapper {
    flex-direction: column;
    gap: 10px;
  }
  .about__sub-text {
    width: 100%;
  }
  .slick-prev {
    right: calc(100% - 40px) !important;
  }
  .slick-next {
    left: calc(100% - 40px) !important;
  }
  /* */
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .media__video {
    height: 274px;
  }
  .about {
    margin-bottom: 300px;
  }
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .nav__item + .nav__item {
    margin-left: 0;
  }
  .footer__logo-wrapper {
    flex-direction: column;
    gap: 10px;
  }
  /* */
}
@media only screen and (max-width: 425px) {
  .header {
    margin-bottom: 200px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 375px) {
  .media-slider__item {
    height: 180px;
  }
  .about {
    margin-bottom: 500px;
  }
  /* */
}
@media only screen and (max-width: 320px) {
  .media-slider__item {
    height: 150px;
  }
  .about {
    margin-bottom: 600px;
  }
  /* */
}