.about {
  display: block;
  background: linear-gradient(0deg, rgba(#000, 0.4), rgba(#000, 0.4)), url('../img/background__01.png');
  box-shadow: inset 0px 4px 80px 71px rgba(0, 0, 0, 0.86); 
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.about__inner {
  padding-top: 60px;
  height: 100vh;
}
.about__main-text {
  font-weight: 656;
  font-size: 24px;
  line-height: 155%;
  text-align: justify;
  margin-bottom: 60px;
}
.about__sub-text-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.about__sub-text {
  width: 40%;
  font-weight: 400;
  font-size: 24px;
  line-height: 155%;
  text-align: justify;
}
