.header {
  background: linear-gradient(0deg, rgba(#000, 0.5), rgba(#000, 0.5)), url('../img/background__00.png');
  box-shadow: inset 0px 4px 80px 71px rgba(0, 0, 0, 0.86); 
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header__inner {
  padding-top: 60px;
  height: 100vh;
}
.header-icon {
  width: 48px;
  height: 48px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 133px;

  &__item {
    display: block;
    transition: color 0.3s;
  }
  &__item:hover {
    color: $active-text-color;
  }
  &__item + &__item {
    margin-left: 36px;
  }
}

.header-content-wrapper {
  display: inline-block;
  width: 50%;
}

.header-content {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-content__text {
  width: 100%;
  font-weight: 200;
  font-size: 20px;
  line-height: 155%;
  text-align: right;
  letter-spacing: 0.05em;
  margin-bottom: 55px;
}

.header-content__link-to-steam {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  gap: 10px;

  &-text {
    font-weight: 400;
  }
}

.logo {
  margin-bottom: 30px;
  width: 560px;
  height: 117px;
}

.logo-sub {
  margin-bottom: 70px;
  width: 338px;
  height: 34px;
}
