.media-slider__item {
  width: 367px;
  height: 217px;
  border: 1px solid $active-text-color;
  margin: 0 5px;
}
.media {
  margin-bottom: 60px;
}
.media-slider {
  margin-bottom: 60px;
}

.media__inner {
}

.media__video {
    width: 100%;
    height: 674px;
    border: 1px solid $active-text-color;
}

