.slick-slider {
}
.slick-slider.slick-initialized {
}
.slick-slider.slick-dotted {
}
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
}
.slick-slide {
}
.slick-slide.slick-active {
}
.slick-slide.slick-current {
}
.slick-slide.slick-center {
}
.slick-slide.slick-cloned {
}
.slick-arrow {
}
.slick-arrow.slick-prev {
}
.slick-arrow.slick-next {
}
.slick-arrow.slick-disabled {
}
.slick-dots {
}
.slick-dots li {
}
.slick-dots li.slick-active {
}
.slick-dots li button {
}

.media-slider {
  position: relative;

  .slick {
    &-arrow {
      position: absolute;
      z-index: 10;
      top: calc(50% - 37px);
      width: 37px;
      height: 74px;
    }

    &-prev {
      right: calc(100% + 37px);
    }

    &-next {
      left: calc(100% + 38px);
    }
  }
}
