// variables
$bg-color: #000;
$color: #fff;
$active-text-color: #db8b51;

@import '../../node_modules/scss-reset/reset';
@import 'fonts';
@import 'header';
@import 'about';
@import 'media';
@import 'features';
@import 'footer';
@import 'slider';

html {
  scroll-behavior: smooth;
}

*,
*:hover,
*:after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

body {
  background: $bg-color;
  color: $color;
  font-family: Spartan;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.05em;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  display: inline-block;
  font-weight: 656;
  font-size: 34px;
  border-bottom: 1px solid $color;
  line-height: 26px;
  margin-bottom: 60px;
}

section {
  display: block;
}
